#contact {
    min-height: 600px;
    background-color: #222;
    color: #fff;
  }
  #contact .content-wrapper {
    min-height: 600px;
  }
  #contact p {
    color: #eee
  }
  #contact .mail {
    font-size: 30px;
    margin-top: 40px;
  }